@charset "ISO-8859-1";
@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);


body
{
	font-family: arial !important;
	background-color: #00dd6f!important;
}

header{
	background-color: #ce0000;
}
.divFisso{
	min-width:1477px;
}

/* CSS Slider */
@media (max-width:628px){
	#slider{
		display: none;
	}
}

#slider{
  width:100%;
  height:550px;
  position:relative;
  overflow:hidden;
}
@keyframes load{
  from{left:-100%;}
  to{left:0;}
}
.slides{
  width:400%;
  height:100%;
  position:relative;
  -webkit-animation:slide 30s infinite;
  -moz-animation:slide 30s infinite;
  animation:slide 30s infinite;
}
.slider{
  width:25%;
  height:100%;
  float:left;
  position:relative;
  z-index:1;
  overflow:hidden;
}

.slide img{
  width:100%;
  height:100%;
}
.image{
  width:100%;
  height:100%;
}
.image img{
  width:100%;
  height:100%;
}

/* Legend */
.legend{
  border:500px solid transparent;
  border-left:800px solid rgba(52, 73, 94, .7);
  border-bottom:0;
  position:absolute;
  bottom:0;
}

/* Contents */
.content{
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
}
.content-txt{
  width:400px;
  height:150px;
  float:left;
  position:relative;
  top:300px;
  -webkit-animation:content-s 7.5s infinite;
  -moz-animation:content-s 7.5s infinite;
  animation:content-s 7.5s infinite;
}
.content-txt h1{
  font-family:Arial;
  text-transform:uppercase;
  font-size:24px;
  color:#fff;
  text-align:left;
  margin-left:30px;
  padding-bottom:10px;
}
.content-txt h2{
  font-family:arial;
  font-weight:normal;
  font-size:14px;
  font-style:italic;
  color:#fff;
  text-align:left;
  margin-left:30px;
}



/* Animation */
@-webkit-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}


/*nuovo header*/
.utenteopzioni{
	display:none;
}

.topnav {
  overflow: hidden;
  background-color: red;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 14px 3px 14px;
  text-decoration: none;
  font-size: 17px;
  margin-left:12%;
  margin-right: 2%;
}

.navbar-left-mio{
	margin-left:5%;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 955px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 955px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.container{
    width:auto;
    display:none;
    float:right;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/*abababa*/
.navbar-mio{
	background-color: #343a40 ;
	color: rgb(255,255,255,.5) !important;
	font-size:initial !important;
}

.navbar-left-mio{
	margin-left: 5%;
}

.navbar-rigth-mio{
	margin: auto 10% auto 5%;
}

.navbar-elementi-mio{
	white-space: nowrap;
	padding-left: 20px;
	padding-right: 20px;
}

.nav-a-mio{
	color: rgb(255,255,255,.5) !important;
}


@media (max-width:433px){
	.LogoPizzaPoint{
	display:none;
	}
}

@media (min-width: 550px){
.card-deck {
	margin-right:auto;
}
}

@media (max-width: 991.98px){
    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
     padding-right:inherit; 
     padding-left: inherit;
     display:table-cell;
     margin-right:inherit;
    }
}



/* CSS FOOTER*/
.footer{
    position: static;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    text-align: center;
    background-color: #343a40;
    color:white;
    font-size:medium;
    margin-top:0;
   
}


.footerstyle{
    font-weight:bold;
    font-size:x-large;
}

.divfooter{
    display:flex;
    flex-wrap:wrap; /*Serve per non fare uscire due div sulla stessa linea quando si ridimensiona*/
    margin-left:-10px;
    margin-right:-10px;
}
.link{
    text-decoration:none;
    cursor:pointer;
    background-color:transparent;
    border:0;
    color:white;
}
.link:hover{
    color:gray;
    text-decoration:underline;
}

.fa-facebook-square {
    color: #3b5998;
    font-size:xx-large;
}
.fa-instagram {
    color: #517fa4;
    font-size:xx-large;
}
.fa-youtube{
    color: #bb0000;
    font-size:xx-large;
}


/*Css barra di ricerca*/
.cerca{
	   width: 100%;
    text-align: center;
    height: auto;
}



/* CSS DEL CARRELLO */

media-heading h2{
	font-weight:bold;
}

.contenitore {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color:white;
}


/* css preferiti*/
.container-preferiti{
	margin-left:5%;
	margin-right:5%;
	display:flex;
	
}

.preferiti-immagine{
	width:25%;
	height:100%;
}

.container-preferiti2{
	float:right;
	width:75%;
	height:100%;
	display:block;
}

.intestazione-preferiti{
	display:flex;
}

.descrizione-preferiti{
	height:auto;
	width:75%;
}



/* CSS DELLA REGISTRAZIONE */


.divregistrazione{
	width: 400px;
	margin-left:38%; 
	margin-right:38%; 
	background-color:white;
}
@media (max-width:723px){
	.divregistrazione{
	width:auto;
	margin-left:auto;
	margin-right:auto;
	}
}
.divregistrazione img{
	width:50%;
	display: block; 
	margin: auto;"
}
.divregistrazione .divformgroup{
	margin-right:5%; 
	margin-left:5%; 
	margin-bottom:5%;
}
.divregistrazione button{
	text-align:center; 
	margin-top:4%;
}

/* DIV PAGAMENTO */
.divPagamento{
	border-style: outset; 
	margin-left:10%; 
	margin-right:10%; 
	margin-top:5%; 
	background-color:white;
}
.divPagamento div{
	margin-left:5%;
	margin-bottom:5%;
}
.divPagamento .divNome{
	border-style:outset; 
	margin-left:3%; 
	margin-right:70%; 
	margin-top:2%;
}
.divPagamento .divCarta{
	text-align:right; 
	margin-top:-4%; 
	margin-right:3%; 
	marign-left:70%;
}
.divPagamento input{
	width:30%; 
	font-size: xx-large;
}
.divPagamento .divAggCarta{
	text-align:left; 
	height:50%; 
	width:50%;
}

/* DIV PAGAMENTO COMPLETATO */
.divPagamentoCompletato{
	text-align:center;
	margin-left:8%; 
	margin-right:8%; 
	margin-bottom:5%; 
	margin-top:5%; 
	border:medium;
	background-color:white;"
}
.divPagamentoCompletatoDentro{
	 margin-bottom:3%; 
	 margin-top:3%; 
	 border:thick;
}
.divPagamentoCompletato{
	width:30%;
}




/* CSS ACCOUNT*/

.a-row{
	color:black;
}

.a-row:hover{
	text-decoration:none;
	color:black;
}

 .divaccount{
 	margin-left:5%; 
 	margin-right:5%; 
 	margin-top:5%; 
 	border:thick; 
 	border-style: groove; 
 	background-color:white;
 }
 .yacardrow{
 	display:table;
 	height:100%;
 	margin-bottom:20px;
 	width:100%;
 }
.ordini , .accesso , .pagamento , .indirizzi{
	display:table-cell; 
	width: 300px; 
	padding-left:20px; 
	border: 1px #ddd solid; 
	height:100%;
    cursor: pointer;
    text-decorazione: none;
    color: light-grey;
 }
 .a-row img{
 	width:50%;
 	margin: auto;
 }
 
 .ordini a:hover, .accesso a:hover, .pagamento a:hover, .indirizzi a:hover{
 	text-decoration:none;
 }
 
 .ulCOUNT{
 font-size:medium;
 }
.editIndirizzo{
	display: none; 
	width:250px; 
	float:right; 
	margin-right:-15%; 
	background-color: lightgrey; 
	padding:10px;
}

.deleteIndirizzo , .deletePagamento{
	display:none; 
	float:right; 
	width:100px;
	background-color:lightgrey;
		padding:10px;
}

.editIndirizzo img , .deleteIndirizzo img ,.deletePagamento img{
	width:20px;
}

.closeeditIndirizzo , .closeeditPagamento{
	float:right;
}
.deletePagamento{
	display:none;
	float:right;
	width:100px;
}
#aggIndirizzo img , #aggPagamento img{
	width:40px;
	position:relative;
	margin-bottom:0px;
	cursor:pointer
}
 .aggPagamento{
	width:200px;
	margin-left:2%;
	display:none;
}
.aggIndirizzo{
	width:250px; 
	margin-left:2%; 
	display:none; 
	padding: 10px; 
	background-color: lightgrey
}

 .divaccesso ,.divindirizzi , .divpagamento{	
	height:auto; 
	background-color:white; 
	margin-left:5%; 
	margin-right:5%; 
	min-height:400px;
}
.divordini{
	min-height:400px;
	height: 600px;
	overflow: auto;
	background-color:white; 
	margin-left:5%; 
	margin-right:5%; 
}
.divindirizzi{
	 width: 75%; 
	 margin: auto; 
	 padding: 20px;
}
.divordini ul , .divindirizzi table , .divpagamento ul , .divpagamento table{
	list-style-type:none; 
	padding:0px; 
	font-size:x-large;
}
.divordini td, .divindirizzi td , .divpagamento td{
	min-width: 150px;
	display:table-cell;
	padding:1px;	
	white-space: nowrap;
}
.divindirizzi th , .divordini th, .divpagamento th{
	margin:auto 10px auto 10px;
}

.divordini a  , .divindirizzi a , .divpagamento a{
	cursor:pointer;
	color:gray;
}
.divordini .ulordine{
	font-size:medium;
}
.ulordine button{
	cursor:pointer;
}

.trIndirizzo{
	height: 35px;
}

