@charset "ISO-8859-1";
@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);


body
{
	font-family: arial !important;
	background-color: #f7f7f7;
}

header{
	background-color: #f7f7f7;
}
center img{
	max-width:400px;
}
.divFisso{
	min-width:1477px;
}

/* CSS Slider */
@media (max-width:628px){
	#slider{
		display: none;
	}
}

#slider{
  width:100%;
  height:550px;
  position:relative;
  overflow:hidden;
}
@keyframes load{
  from{left:-100%;}
  to{left:0;}
}
.slides{
  width:400%;
  height:100%;
  position:relative;
  -webkit-animation:slide 30s infinite;
  -moz-animation:slide 30s infinite;
  animation:slide 30s infinite;
}
.slider{
  width:25%;
  height:100%;
  float:left;
  position:relative;
  z-index:1;
  overflow:hidden;
}

.slide img{
  width:100%;
  height:100%;
}
.image{
  width:100%;
  height:100%;
}
.image img{
  width:100%;
  height:100%;
}

/* Legend */
.legend{
  border:500px solid transparent;
  border-left:800px solid rgba(52, 73, 94, .7);
  border-bottom:0;
  position:absolute;
  bottom:0;
}

/* Contents */
.content{
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
}
.content-txt{
  width:400px;
  height:150px;
  float:left;
  position:relative;
  top:300px;
  -webkit-animation:content-s 7.5s infinite;
  -moz-animation:content-s 7.5s infinite;
  animation:content-s 7.5s infinite;
}
.content-txt h1{
  font-family:Arial;
  text-transform:uppercase;
  font-size:24px;
  color:#fff;
  text-align:left;
  margin-left:30px;
  padding-bottom:10px;
}
.content-txt h2{
  font-family:arial;
  font-weight:normal;
  font-size:14px;
  font-style:italic;
  color:#fff;
  text-align:left;
  margin-left:30px;
}



/* Animation */
@-webkit-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}


/*nuovo header*/
.utenteopzioni{
	display:none;
}

.topnav {
  overflow: hidden;
  background-color: red;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 14px 3px 14px;
  text-decoration: none;
  font-size: 17px;
  margin-left:12%;
}


.nav-link.utente-login{
	display:none;
}

.navbar-left-mio{
	margin-left:5%;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1278px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 955px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.container{
    width:auto;
    display:none;
    float:right;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


.img-carrello{
	margin-left:250px;
}

.utente{
	margin-right:140px;float:none;
}

.navbar-left-mio{
	margin-left:50px;
}



/* CSS FOOTER*/
.footer{
    position: static;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    text-align: center;
    background-color: #f7f7f7;
    color:black;
    font-size:medium;
    margin-top:0;
   
}


.footerstyle{
    font-weight:bold;
    font-size:x-large;
}

.divfooter{
    display:flex;
    flex-wrap:wrap; /*Serve per non fare uscire due div sulla stessa linea quando si ridimensiona*/
    margin-left:-10px;
    margin-right:-10px;
}
.link{
    text-decoration:none;
    cursor:pointer;
    background-color:transparent;
    border:0;
    color:black;
}
.link:hover{
    color:gray;
    text-decoration:underline;
}

.fa-facebook-square {
    color: #3b5998;
    font-size:xx-large;
}
.fa-instagram {
    color: #517fa4;
    font-size:xx-large;
}
.fa-youtube{
    color: #bb0000;
    font-size:xx-large;
}

/*CSS DELL'AREA PERSONALE*/


.grid-item-account  {
	margin-right:2%;
	margin-top:3%;
	margin-left:10%;
}



.grid-container-account{
	display: grid;
  	grid-template-columns: auto auto;
	margin-top:3%;
	margin-left:15%;
	margin-right:15%;
}


.grid-container-account img{
	width:400px;
}



/*Css barra di ricerca*/
.container-cerca{
	display:inline-flex; 
	width:90%;
	margin-left:8%;
	margin-top:1%;
	margin-bottom:1%;
}
.container-cerca input{
	 width:70%;
}


#search-bar{
	width:70%; 
}
.container-cerca select{
	width:250px;
}



/* CSS DEL CARRELLO */
media-heading h2{
	font-weight:bold;
}

.contenitore {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color:white;
}

.modifica-quantità{
	display:block;
	cursor: pointer;
	font-size: medium;
}

.quantità-selezionata{
	border-color: #ccc;
	background-color:white;
	margin-top: 5px;
}

.trama{
	padding: 0px 20px;
}

.row{
	margin-left:10%;
}

.media-object{
	width:150px;
	height:150px;
}

/* css preferiti*/
.title-preferiti{
	margin: 1% 2%;
}

.container-preferiti{
	margin: 2% 5%;
	min-height: 150px;
	display:block;
	
	
}

.preferiti-immagine{
	float: left;
}

.preferiti-immagine img{
	max-width: 100px;
	max-height: 150px;
}

.container-preferiti2{
	margin-left:9%;
	position:relative;
}

.intestazione-preferiti h2{
	display:inline;
}
.intestazione-preferiti h4{
	float:right;
}
.descrizione-preferiti{
	padding-right: 10%;
}
	
.bottone-preferiti{
	 position:absolute;
	 bottom:0; 
	 right:0;
}



/* CSS DEL LOGIN */

.divloginout{
	width:40%;
	margin: 1% auto 1% auto;
	background-color:white;
}
@media (max-width:500px){
	.divloginout{
		width:auto;
	}
}

#error{
	color:red;
}

.divlogin{
	padding:10% 10% 10% 10%;
}
.imglogin{
	width:50%; 
	margin-left:20%;
}
.spanlogin{
	 margin-left:5%;
}
.divlogin button{
	text-align:center;
}





/* CSS DELLA REGISTRAZIONE */


.divregistrazione{
	width: 400px;
	margin-left:38%; 
	margin-right:38%; 
	background-color:white;
}
@media (max-width:723px){
	.divregistrazione{
	width:auto;
	margin-left:auto;
	margin-right:auto;
	}
}
.divregistrazione img{
	width:50%;
	display: block; 
	margin: auto;"
}
.divregistrazione .divformgroup{
	margin-right:5%; 
	margin-left:5%; 
	margin-bottom:5%;
}
.divregistrazione button{
	text-align:center; 
	margin-top:4%;
}

/* DIV PAGAMENTO */
.divPagamento{
	border-style: outset; 
	margin-left:10%; 
	margin-right:10%; 
	margin-top:5%; 
	background-color:white;
}
.divPagamento div{
	margin-left:5%;
	margin-bottom:5%;
}
.divPagamento .divNome{
	border-style:outset; 
	margin-left:3%; 
	margin-right:70%; 
	margin-top:2%;
}
.divPagamento .divCarta{
	text-align:right; 
	margin-top:-4%; 
	margin-right:3%; 
	marign-left:70%;
}
.divPagamento input{
	width:30%; 
	font-size: xx-large;
}
.divPagamento .divAggCarta{
	text-align:left; 
	height:50%; 
	width:50%;
}

/* DIV PAGAMENTO COMPLETATO */
.divPagamentoCompletato{
	text-align:center;
	margin-left:8%; 
	margin-right:8%; 
	margin-bottom:5%; 
	margin-top:5%; 
	border:medium;
	background-color:white;"
}
.divPagamentoCompletatoDentro{
	 margin-bottom:3%; 
	 margin-top:3%; 
	 border:thick;
}
.divPagamentoCompletato{
	width:30%;
}



/*css indirizzi*/

.container-inserimento{
	margin-top:2%;
	display: none; 
	margin-left: 20%;
}

.grid-item-indirizzi  {
	border-radius:4px;
	border:2px solid red;
	margin-right:2%;
	margin-top:3%;
	width:60%;
	background-color:ivory;
	padding:10px;
}


.grid-container
{
	
	display: grid;
    grid-template-columns: auto auto;
	margin-top:3%;
	margin-left:10%;
	position:relative;
}

/*css CSS Carte di credito*/

.grid-container-carte
{
	  display: grid;
  grid-template-columns: auto auto;
	margin-top:3%;
	margin-left:15%;
	position:relative;
}



.grid-item-carte  {
	border-radius:4px;
	border:2px solid red;
	margin-right:2%;
	margin-top:3%;
	width:60%;
	background-color:ivory;
	padding:10px;
}

.table-striped{
	width:-webkit-fill-available;
}



/*Css visualizza libro*/

.container-visualizza-libro{
	margin-top: 1%;
	margin-left:5%;
	margin-right:5%;
	display:flex;
	height:350px;
	
}

.container-recensione{
	background-color:ivory;
}

.container-informazioni-recensioni{
	background-color:white; 
	position:relative;
}

.visualizza-libro-immagine{
	margin-right: 1%;
}

.visualizza-libro-immagine img{
	max-height: 400px; 
}

#star-preferiti {
	
	height:34px;
	float:right;
}



.container-visualizza-libro2{
	position:relative;
}

.intestazione-visualizza-libro h2{
	display:inline;
	word-break:break-word;	
}

.container-ordini h4{
	color:red;
	margin-top:4%;
	text-align:center;
}

.intestazione-preferiti h4{
	float:right;
}
.descrizione-preferiti{
	height:auto;
	width:100%;
	}

.container-dettagli-libro{
	margin-top:5%;
	margin-left:5%;
	margin-right:5%;
	display:flex;
}

.dettagli-libro{
	width:50%;
	display:inline-grid;
}
.quantita-libro{
	width:30%;
	display:inline-grid;
}
.container-recensione-libro{
	width:80%;
	margin-top:5%;
	margin-left:5%;
}

.container-aggiungi-recensione{
	display:grid;
	width:40%;
	margin-top:3%;
	margin-left:5%;
}

#titolo-recensione{
	margin-bottom:0.3%;
}

.container-aggiungi-recensione input{
	width:inherit;
}

#star-preferiti{
	cursor: pointer;
}

.bottone-recensione{
	width:250px;	
	margin-left:54%;
}

.container-recensione{
	width:50%;
}
.container-recensione p{
	word-break:break-word;
}
.container-recensione h6{
	font-weight:bold;
	}
	
.container-informazioni-recensioni button{
	cursor:pointer;
	height: 20px;
	width: 25px;
	position:absolute;
	font-size: 10px;
	top:0;right:0;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;"	
}

/*css libri*/
.col-md-3 {
	display: inline-block;
	margin-left: -4px;
}

.col-md-3 img {
	width: 100%;
	height: auto;
}


body .carousel-control-prev-icon, body .carousel-control-next-icon {
	background-color: red;
}

body .no-padding {
	padding-left: 0;
	padding-right: 0;
}

.slider.no-padding.carousel-inner.container {
	width: auto;
	display: inline-block;
	float: none;
	padding-left: 5%;
	padding-right: 5%;
}

.slider.no-padding.carousel-inner.container img {
	height: 280px;
	padding: 5%;
}

.prima.carousel-control-prev {
	width: 3%;
}

.dopo.carousel-control-next {
	width: 3%;
}

.car-item.carousel-item.active {
	background-color: #f7f7f7;
}

.carousel-mio.slide.carousel{
	height: 280px;
	margin-bottom: 30px;
}

.visualizza{
	cursor: pointer;
}



.container-libri-evidenza{
	width: 90%;
 	margin-right:5%; 
 	margin-left:8%; 
 	margin-top: 50px;
}
.container-libri-venduti{
	width: 90%;
 	margin-right:5%; 
 	margin-left:8%; 
 	margin-top: 50px;
}

.container-libri-trovati{
	width:90%;
	margin-top:3%;
	margin-left:5%;
	margin-right:5%;
	margin-bottom:2%;
	position:relative;
	background-color:mintcream;
}

.immagine-libro-trovato{
	width:20%;
	height:100%;
}
.immagine-libro-trovato img{
	width:100%;
}

.container-informazioni-libro{
	position:absolute;
	top:0;
	right:0;
	width:80%;
}

.container-informazioni-libro h5{
	font-weight:bold;
	}


.container-informazioni-libro h6{
	font-family:cursive;
	}







/*CSS COMPLETA ACQUISTO*/
.container-completa-acquisto{
	margin: 20px 25%;
	background-color: ivory;
	border-color:black;
	border-style: solid;
	border-width: 0.5px;
	padding: 8px;
	
}

.container-carta{
	float:left;
}

.container-indirizzo{
	float:right;
}

.bottone-completa-acquisto{
	margin:20% 40% 0% 40%;
}


/*CSS i miei Ordini*/
.td-grassetto{
	font-weight:bold;
}

.divfisso-mio{
	min-width:600px;
}

.td-padding{
	padding-right:70px;
}

.container-ordini{
	min-width:600px;
	background-color:ivory;
	margin: 1% 20% 2% 25%;
	border:2px solid red;
	border-radius:5px;
}

.tableordini2{
	margin-top:3%;
}



@media (max-width:850px){
	.container-ordini{
		margin:1% 0%;
	}
}




/*css gestione account*/
.divaccesso{
	text-align:center;
	width:30%;
	margin-left:35%;
	background-color:ivory;
	height:250px;
	margin-top :5%;
	margin-bottom:5%;	
}


.divaccesso form{
	display:grid;
	}
.divaccesso button{
	width:250px;
	}
.divaccesso h5{
	width:40%;
	}


/*css completa acquisto*/
.completa-acquisto{
	margin-left:40%;
	margin-top:5%;
}

.completa-acquisto h2{
	color:green;
	}
	
.td-center{
	text-align: center;
}	

.container-carrello{
	display:inline; 
	float:right; 
}

