@charset "ISO-8859-1";
@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);


body
{
	font-family: arial !important;
	background-color: #f8f9fa;
}

header{
	background-color: #f8f9fa;
}

center img{
	max-width:400px;
}
.divFisso{
	min-width:1477px;
}



/*nuovo header*/
.utenteopzioni{
	display:none;
}

.logout{
	margin-left:25%;
}

.topnav {
  overflow: hidden;
  background-color: red;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 14px 3px 14px;
  text-decoration: none;
  font-size: 17px;
  margin-left:12%;
  margin-right: 2%;
}

.navbar-left-mio{
	margin-left:5%;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 955px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 955px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.container{
    width:auto;
    display:none;
    float:right;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/*css ricerca*/

.cerca{
	 width:60%;
	 text-align:right;
	 display:inline-block;
}



.container-cerca selcet{
	width:250px;
}

.container-inserimento{
	 margin-top:5%;
}
.container-inserimento ul{
	 list-style-type: none;
}

/*css account ordine*/

.container-ordine{
	 margin-top:5%;
	width:400px;
	 margin-left:40%;
}
.container-ordine table{
	width:40%;
	border: 1px solid;
	border-collapse: separate; 
	border-spacing: 0 1em;
	}

/*css modificaAttributo*/
.modificaAttributo{
	display:none;
	float:right;
	background-color:ivory;
	width:20%;
	margin-right:7%;
	margin-top:-14%;
	padding:10px;
	font-weight: bold;
	text-align: center;
	border: 1px solid;
	
}
.container-ordine table{
	background-color:ivory;	
}

.td-padding{
	padding-right:25%;
}
.td-padding1{
	padding-right:5%;
}
